/* Tamaño movil*/
@media (max-width: 580px) {
    .allMain {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: white
    }

    .allMain h3 {
        font-size: 22px;
    }

    .homeFoto {
        background-color: rgba(66, 73, 66, 0.317);
        height: 200px;
        width: 100%;
        display: flex;
        /* Agregado para activar flexbox */
        align-items: center;
        /* Centra verticalmente */
        justify-content: center;
        /* Centra horizontalmente */
        text-align: center;
        margin-bottom: 30px;
        background-image: url('../../assets/img/Congracio_General.jpg');
        background-size: cover;
        background-position: center;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 100%, 25% 80%, 0 100%);
    }

    .homeFoto h2 {
        display: flex;
        /* Agregado para activar flexbox */
        align-items: center;
        /* Centra verticalmente */
        justify-content: center;
        /* Centra horizontalmente */
        text-align: center;
        height: 100px;
        width: 100%;
        color: rgb(0, 0, 0);
        background-color: rgba(255, 255, 255, 0.031);
        backdrop-filter: blur(10px);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 100%, 25% 80%, 0 100%);
    }

    .homeHistoria,
    .homeNoticias,
    .homeGaleria,
    .homeInformacion,
    .homeDonativo {
        width: calc(100% - 20px);
        margin: 0px 40px 40px 40px;
        margin-bottom: 30px;
        background-color: rgba(252, 252, 252, 0.214);
        border-radius: 20px;
        box-shadow: inset 0 0 10px rgba(176, 173, 173, 3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .homeHistoria {
        background-image: url('../../assets/img/Historia.jpg');
        background-size: cover;
        background-position: center;
    }

    .homeNoticias {
        background-image: url('../../assets/img/Noticias.jpg');
        background-size: cover;
        background-position: center;
    }

    .homeGaleria {
        background-image: url('../../assets/img/Galeria.jpg');
        background-size: cover;
        background-position: center;
    }

    .homeInformacion {
        background-image: url('../../assets/img/Informacion.jpg');
        background-size: cover;
        background-position: center;
    }

    .homeDonativo {
        background-image: url('../../assets/img/Donativo.jpg');
        background-size: cover;
        background-position: center;
    }

    .homeHistoriaIn,
    .homeNoticiasIn,
    .homeGaleriaIn,
    .homeInformacionIn,
    .homeDonativoIn {
        position: relative;
        background-color: rgba(0, 0, 0, 0.284);
        border-radius: 20px;
        color: white;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }




    .allMain a {
        display: inline-block;
        background-color: white;
        color: black;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s, transform 0.3s;
        width: 70px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        text-align: center;
        line-height: 35px;
        border-radius: 20px 20px;
    }

    .allMain a:hover {
        height: 34px;
        width: 70px;
        background-color: white;
        color: black;
        transform: scale(1.1);
        border-radius: 20px 20px;
        box-shadow: 0 8px 10px black;

    }
}

/* Tamaño Tablet Vertical*/
@media (min-width: 580px) and (max-width: 768px) {}

/* Tamaño Tablet Horizontal*/
@media (min-width: 768px) and (max-width: 1024px) {}

/* Tamaño Pantalla*/
@media(min-width: 1024px) {}