/* Tamaño movil*/
@media (max-width: 580px) {
    .allMain {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: rgba(244, 227, 187, 0.944);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .allMain h3 {
        font-size: 22px;
    }

    .homeFoto {
        height: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 80px;
        background-image: url('../../assets/img/Congracio_General.jpg');
        background-size: cover;
        background-position: center;
        background-position: center;
        position: relative;
        overflow: hidden;
    }

    .homeFoto::after,
    .homeFoto::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(244, 227, 187, 0.944));

    }

    .homeFoto h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        height: 100px;
        width: 100%;
        color: rgb(0, 0, 0);
    }

    .homeHistoria,
    .homeNoticias,
    .homeGaleria,
    .homeInformacion,
    .homeDonativo,
    .homeProssessor,
    .homeEspiritual {
        width: 400px;
        margin: 0 auto 70px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .homeProssessor {
        background-image: url('../../assets/img/logo.png');
        background-size: 50px;
        background-position: center;
    }

    .homeHistoria {
        background-image: url('../../assets/img/Historia.jpg');
        background-size: cover;
        background-position: center;
    }

    .homeNoticias {
        background-image: url('../../assets/img/Noticias.jpg');
        background-size: cover;
        background-position: center;
    }

    .homeGaleria {
        background-image: url('../../assets/img/Galeria.jpg');
        background-size: cover;
        background-position: center;
    }

    .homeInformacion {
        background-image: url('../../assets/img/Informacion.jpg');
        background-size: cover;
        background-position: center;
    }

    .homeDonativo {
        background-image: url('../../assets/img/Donativo.jpg');
        background-size: cover;
        background-position: center;
    }

    .homeEspiritual {
        background-image: url('../../assets/img/Donativo.jpg');
        background-size: cover;
        background-position: center;
    }

    .homeHistoriaIn,
    .homeNoticiasIn,
    .homeGaleriaIn,
    .homeInformacionIn,
    .homeDonativoIn,
    .homeProssessorIn,
    .homeEspiritualIn {
        position: relative;
        background-color: rgba(0, 0, 0, 0.284);
        border-radius: 20px;
        color: white;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .allMain a {
        display: inline-block;
        background-color: white;
        color: black;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s, transform 0.3s;
        width: 70px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        text-align: center;
        line-height: 35px;
        border-radius: 20px 20px;
    }

    .allMain a:hover {
        height: 34px;
        width: 70px;
        background-color: white;
        color: black;
        transform: scale(1.1);
        border-radius: 20px 20px;
        box-shadow: 0 8px 10px black;
    }
}

/* Tamaño Tablet Vertical*/
@media (min-width: 580px) and (max-width: 768px) {}

/* Tamaño Tablet Horizontal*/
@media (min-width: 768px) and (max-width: 1024px) {}

/* Tamaño Pantalla*/
@media(min-width: 1024px) {}