@media (max-width: 580px) {
    .processoGeneral {
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(244, 227, 187, 0.944);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .processoFoto {
        height: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
        background-image: url('../../assets/img/logo.png');
        background-size: 160px;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
    }

    .processoFotos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .foto1,
    .foto2,
    .foto3,
    .foto4,
    .foto5,
    .foto6 {
        width: 300px;
        height: 200;
        margin-bottom: 40px;
        background-color: rgba(245, 245, 245, 0.34);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        line-height: 1.8;
        box-sizing: border-box;
        box-shadow: inset 0 0 10px white;
    }

    .processoReturn a {
        display: inline-block;
        background-color:rgba(252, 252, 252, 0.398);
        color: black;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s, transform 0.3s;
        width: 70px;
        font-size: 16px;
        text-align: center;
        line-height: 35px;
        border-radius: 20px 20px;
        margin-bottom: 40px;
    }

    .processoReturn a:hover {
        height: 34px;
        width: 70px;
        background-color: white;
        color: black;
        transform: scale(1.1);
        border-radius: 20px 20px;
        box-shadow: 0 8px 10px black;
    }
    
}