.footerGeneral {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footerLinkDani {
    font-size: 10px;
    width: 100%;
    height: 30px;
    background-color: rgba(66, 73, 66, 0.317);
    color: black;
    text-align: center;
    padding: 5px;
}

.footerLinkDani a {
    color: black;
    text-decoration: none;
}

.footerLinkDani a:hover {
    color: white;
    text-decoration: none;
}

.footerPatro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}